<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>merncommerce</title>
    <!-- Global Css -->
    <link rel="stylesheet" href="../css/global.css" />
    
    <!-- Navbar | css >> nav.css -->
    <link rel="stylesheet" href="../css/nav.css">
    <!-- Section from section.css -->
    <link rel="stylesheet" href="../css/sections.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/bottomnav.css">
    <!-- Utils -->
    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- font-family: "Roboto", sans-serif; -->
    
  </head>
  <body>
    <!-- Nav Bar    |nav.css | nav.js | -->
    <nav>
      <div id="leftNav">
        <li>WOMEN</li>
        <li>MEN</li>
        <li>KIDS</li>
      </div>
      <div id="centerNav">HEAVENLY</div>
      <div id="rightNav">
        <i class="ri-search-line"></i>
        <a href="./account" style="color: black;">
          <i class="ri-account-circle-line"></i>
        </a>
        <i class="ri-heart-line"></i>
        <i class="ri-shopping-cart-line"></i>
      </div>
    </nav>
    <div id="navLabel">
      HEAVENLY
      <i class="ri-arrow-right-line"></i>
       HOME
    </div>


    <div id="section1">
      <h1 id="coll">COLLECTION</h1>
      <div id="cards">
        <!-- Card 1 -->
        <div style="background-color: #3EB489; color: white;" id="card">
          <div id="navCooll">
            <a href="routes/menCollection.html">
              <span>MEN</span>
              <i class="ri-arrow-right-up-line"></i>
            </a>
          </div>
          <p style="text-align: right;">SHIRT | PANT | UPPER | LOWER | JEANS | TSHIRT |</p>
        </div>
  <!-- Card 2 -->
  <div style="background-color: #EAD1DC
  ; color: rgb(46, 46, 46);" id="card">
    <div id="navCooll">
      <a style="color: rgb(37, 37, 37);" href="/routes/women.html">
        <span >WOMEN</span>
        <i class="ri-arrow-right-up-line"></i>
      </a>
    </div>
    <p style="text-align: right;">SHIRT | PANT | UPPER | LOWER | JEANS | TSHIRT |</p>

  </div>

 <!-- Card 3 -->
 <div style="background-color: #880010
 ; color: white;" id="card">
   <div id="navCooll">
     <span>KIDS</span>
     <i class="ri-arrow-right-up-line"></i>
   </div>
   <p style="text-align: right;">SHIRT | PANT | UPPER | LOWER | JEANS | TSHIRT |</p>

 </div>



      </div>
      </div>




      <div id="sectrion2">
        <h1 id="coll">Trends</h1>
     <div id="sec2Card">
      <div id="options">
        <h1>Hot Pics</h1>
        <P>Browse Latest Hot pics for next party season</P>
      </div>

      <div id="options">
        <h1>Classey Pics</h1>
        <P>Browse Latest Classey pics for next party season</P>
      </div>


      <div id="options">
        <h1>Rare Pics</h1>
        <P>Browse Latest Rare pics for next party season</P>
      </div>


      <div id="options">
        <h1>Hot Pics</h1>
        <P>Browse Latest Hot pics for next party season</P>
      </div>
     </div>

      </div>

      <!-- <div id="divider"></div> -->


<div id="section3">
  <img src="../assets/1.png" alt="">
  <img src="../assets/2.jpg" alt="">
  <img src="../assets/3.png" alt="">

</div>


<!-- Bottom Nav Bar -->
<span id="bottom" class="bottom-nav">
  <a href="/" class="nav-tab active">
    <i class="fas fa-home">
    <i class="ri-home-3-line"></i>

    </i>
    Home
  </a>
  <a href="#" class="nav-tab">
    <i class="fas fa-search">
      <i class="ri-search-line"></i>
    </i>
    Search
  </a>
  <a href="#" class="nav-tab">
    <i class="fas fa-shopping-cart">
      <i class="ri-shopping-cart-line"></i>
    </i>
    Cart
  </a>
  <a href="/account" class="nav-tab">
    <i class="fas fa-user">
      <i class="ri-user-line"></i>
    </i>
    Account
  </a>
</span>
<!-- Bottom Nav Bar -->


      <footer>
        <div id="sec1">
            <h1>HEAVENLY</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, adipisci officia corrupti ipsum quia, dignissimos quaerat</p>
          <div id="social">
            <i class="ri-facebook-circle-fill"></i>
            <i class="ri-instagram-fill"></i>
            <i class="ri-twitter-x-fill"></i>
          </div>
        </div>



        <div id="sec2">
          <label>NAVAGATION</label> 
          <li>WOMEN</li>
          <li>KIDS</li>
          <li>MEN</li>
        </div>
        <div id="sec2">
          <label>ABOUT</label> 
          <li>NEWS</li>
          <li>FAQ</li>
          <li>ABOUT</li>
        </div>
        </div>

      </footer>
    </body>
    </html>
    