<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <div id="signup">
        <div id="card">
            <h1>Login</h1>
            <form  method="post" action="/login">
                <input name="email" type="email" placeholder="Email Id" required>
                <input name="password" type="password" placeholder="Password" required>
                <button type="submit"> LOGIN ACCOUNT</button>
            </form>
            <p>Don't Have Account
                <span>
                    <a href="/signup"> Create One!</a></span>
            </p>
        </div>
    </div>
   
</body>
</html>