<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <div id="signup">
        <div id="card">
            <h1>Signup</h1>
            <form id="form" method="post" action="/signup">
                <input type="text" placeholder="First Name" name="firstName" required>
                <input type="text" placeholder="Last Name" name="lastName" required>
                <input
                id="email" type="email" placeholder="Email Id" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <button id="signUp" type="submit">
                    <span id="titleAcc">CREATE ACCOUNT</span>
                    <div id="loading" class="loading-spinner"></div>
                    </button>
                    
                <span id="or">or</span> 
                <p class="alreaady">Already have an account? 
                   <a style="color: black; text-decoration: underline;" href="./login">
 Sign in</a></p>
            </form>
        </div>
    </div>
   <script src="..//scripts/loadingBard.js"></script>
</body>
</html>