<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../..//css/men/menCollec.css">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="./cartLoader.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
  />
</head>
<body>
        <!-- Nav Bar    |nav.css | nav.js | -->
        <nav>
            <div id="leftNav">
              <li>WOMEN</li>
              <li>MEN</li>
              <li>KIDS</li>
            </div>
            <div id="centerNav"><a href="/" style="color: black;">HEAVENLY</a></div>
            <div id="rightNav">
              <i class="ri-search-line"></i>
              <i class="ri-account-circle-line"></i>
              <i class="ri-heart-line"></i>
              <i class="ri-shopping-cart-line"></i>
            </div>
          </nav>


          <div id="men">
            <form>
                <input type="text" placeholder="Search: White Plain Shirt">
            </form>

           
            <div id="products">
<center id="loading">

  <div class="loading">
    <span></span>
    <p>LOADING</p>
    <span></span>
  </div>
</center>


          </div>

          <footer>
            <div id="sec1">
              <h1>HEAVENLY</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, adipisci officia corrupti ipsum quia, dignissimos quaerat</p>
              <div id="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-twitter-x-fill"></i>
              </div>
            </div>
    
    
    
            <div id="sec2">
              <label>NAVAGATION</label> 
              <li>WOMEN</li>
              <li>KIDS</li>
              <li>MEN</li>
            </div>
            <div id="sec2">
              <label>ABOUT</label> 
              <li>NEWS</li>
              <li>FAQ</li>
              <li>ABOUT</li>
            </div>
            </div>
    
          </footer>


       <script src="../..//scripts/menCollec.js"></script>
</body>
</html>